	BODY, .default  {
		font-size : 12pt;
		font-family : Arial, Courier, Helvetica;
		color : Black;
	}
	
	a:link  {
		color : blue;
		text-decoration : none;
	}
	
	A:visited {
		color : purple;
		text-decoration : none;
	}
	
	a:hover  {
		color : #D79C02;
		text-decoration : underline;
	}
	
	table, caption {
		width : 700px;
	}
	
	table, caption, th, td {
		border-width : 1px;
		border-style : solid;		
	}
	
	caption {
			border-bottom-width : 0px;
			font-weight : bold;
	}
		
	TH.sortable {
		cursor : pointer;
	}